<section class="user">
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
</section>
<section class="my-4 ">

<%if @user.attended_events.exists?%>

 <div class="text-xl text-center py-4">Upcoming events </div>
  <div class="px-12 py-4 shadow-xl border rounded-lg" >
    <%@user.attended_events.each do |event|%>
      <%=link_to(event) do %>
      <div class="flex justify-between">
        
       <div class="py-4 my-2 text-3xl"><%=event.name%></div>
        <h3 class="py-4 my-2 font-light text-lg">
          <%= event.starts_at.strftime("%B %d at %I:%M %P") %> in <%= event.location %>
      </h3>
       </div>
      <div clas="p-2"><%=event.description%></div>
      <%end%>
    <%end%>
    
  </div>
<%else%>
   <h2 class="text-xl text-center py-4">No Upcoming events </h2>
<%end%> 

</section >
<section class="text-xl my-8">
<div class="text-xl text-center py-4 my-8 ">Event Created By you  </div>
  <%@events.each do |event| %>
  <div class="px-12 py-4 shadow-lg border rounded-lg ">
  <%=link_to(event) do %>
  <div class="flex justify-between">
  <div class="p-4 my-4 text-lg"><%=event.name%></div>
   <h3 class="py-4 my-2 font-light text-lg">
          <%= event.starts_at.strftime("%B %d at %I:%M %P") %> in <%= event.location %>
    </h3>
  </div>
  <div clas="p-2"><%=event.description%></div>
  </div>
  <%end%>
<%end%>
</section>
